.parent{
    width: 100%;
    height: 100vh;
}

.top{
    width: 100%;
    height: 15vh;
    background-color: blueviolet;
}

.bottom{
    position: relative;
    width: 100%;
    height: 85vh;

}
.left{
    width: 20%;
    height: 100%;
    background-color: aqua;
}

.right{
    position: absolute;
    left: 20%;
    top: 0px;
    width: 80%;
    height: 100%;
    background-color: gray;
}